.footer{
    background-color: black;
    padding-left: 2rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    color: white;
    font-size: 2rem;
}

.footer .box-container .box a{
    color: white;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
}

